.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.message {
  padding-bottom: 10px;
}

.human-message, .chatbot-message {
  display: flex;
  align-items: center;
}

.message .text {
  padding: 10px;
  width: 150px;
  word-wrap: anywhere;
  text-align: left;
}

.limited {
  width: 85px;
  height: 85px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}

.human-message .limited {
  border: 1px solid white;
}

.chatbot-message .limited {
  border: 1px solid red;
}

.limited img {
  position: absolute;
  width: 80px;
  top: 4px;
  left: 5px;
}

.chat {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 20px;
  border-radius: 20px;
  min-height: 500px;
  min-width: 280px;
  background: #eee;
}

.screen {
  border: 1px solid white;
  position: relative;
  background: #88f;
}

.screen .text-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: auto;
}

.screen .text-container input {
  width: 97%;
}

.messages {
  list-style: none;
  margin: 0px;
  padding: 10px;
  min-height: 500px;
  max-height: 500px;
  overflow: auto;
  margin-bottom: 20px;
}

.bottom {
  display: flex;
  justify-content: center;
}

.iphone-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: gray;
  border: 2px solid #aaa;
  margin-top: 10px;
}